.firstcarousel {
  text-align: "center";
  background-color: "grey";
  height: "240px";
}
.carousel-item2 {
  text-align: "center";
  background-color: "grey";
  height: "240px";
}
.carousel-item3 {
  text-align: "center";
  background-color: "grey";
  height: "240px";
}
